{% if ajax_wrapper_attributes is not empty %}
  {% set ajax_wrapper_attributes = create_attribute(ajax_wrapper_attributes) %}
{% endif %}

<div {{ ajax_wrapper_attributes }}>
  {{ ajax_wrapper_content }}
</div>
